<div [class]="box.classDiv">
    <article [class]="box.articleClass">
        <div class="panel-heading text-center fH2" *ngIf="box.headerText">{{box.headerText}}</div>
        <figure>
            <a [routerLink]="[box.btnLink]">
                <div class="caption" *ngIf="!box.btnClass">
                    <div class="caption-content">
                        <i class="glyphicon glyphicon-zoom-in zoom-in--medium"></i>
                    </div>
                </div>
                <img [src]="box.image" [class]="box.imageClass">
            </a>
        </figure>
        <div class="text" *ngIf="box.btnClass">
            <header>
                <span>Owner-Director</span>
                <h2 class="cs-post-title"><a href="">{{box.name}}</a></h2>
            </header>
            <div class="tel-details col-lg-6">
                <span>Telephone</span>
                <p>{{box.telephone}}</p>
            </div>
            <a [routerLink]="[box.btnLink]" [class]="box.btnClass">{{box.btnText}}</a>
        </div>
        <div class="panel-footer panel--blue-dark" *ngIf="box.footerText">{{box.footerText}}</div>
    </article>
</div>
