<div [class]="box.classDiv" *ngIf="box.articleClass">
    <article [class]="box.articleClass">
        <div class="panel-heading text-center fH2" *ngIf="box.headerText">{{box.headerText}}</div>
        <figure>
            <a [routerLink]="[box.btnLink]">
                <div class="caption" *ngIf="!box.btnClass">
                    <div class="caption-content">
                        <i class="glyphicon glyphicon-zoom-in zoom-in--medium"></i>
                    </div>
                </div>
                <img [src]="box.image" [class]="box.imageClass">
            </a>
        </figure>
        <div class="text" *ngIf="box.btnClass">
            <header>
                <span *ngIf="box.prof">{{box.prof}}</span>
                <h2 class="cs-post-title"><a href="">{{box.name}}</a></h2>
            </header>
            <div [class]="box.boxTextArea">
                <span *ngIf="box.telephoneText">{{box.telephoneText}}</span>
                <p *ngIf="box.telephoneText">{{box.telephone}}</p>
                <p *ngIf="box.boxText">{{box.boxText}}</p>
            </div>
            <a [routerLink]="[box.btnLink]" [class]="box.btnClass">{{box.btnText}}</a>
        </div>
        <div class="panel-footer panel--blue-dark" *ngIf="box.footerText">{{box.footerText}}</div>
    </article>
</div>
