.min-height-contact {
    height: 350px;
}
.address-wrapper i {
    margin-right: 5px;
}
.address-wrapper p:nth-child(5) span {
	vertical-align: super;
}
@media (max-width: 768px) {
	.min-height-contact {
	    height: 160px;
	}
}