#map {
    height: 320px;
    /*width: 100%;*/
}

#map2 {
    height: 320px;
    /*width: 100%;*/
}

.sebm-google-map-container {
    height: 300px;
}

.min-height-contact {
    height: 350px;
}

@media screen and (max-width: 768px) {
    .min-height-contact {
        height: 195px;
    }
}