/* Master Styles */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
html {
    overflow-y: scroll;
}
a {
    cursor: pointer;
}

a:active,
a:hover {
    outline: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

#container-wrapper {
    min-height: 100%;
    position: relative;
}

.fa-circle-o-notch {
    position: absolute;
    top: 40%;
    left: 50%;
}
.loading {
    position: absolute;
    top: 45%;
    left: 49%;
    font-size: 1.5em;
}

.angular-with-newlines {
    white-space: pre-wrap;
}

.panel--blue-dark {
    background-color: rgba(4, 74, 134, 1);
    color: #fff;
}

.fs--15 {
    font-size: 15px;
}

.margin--0 {
    margin: 0;
}

.margin-l--20 {
    margin-left: 20px;
}

.margin-r--40 {
    margin-left: 40px;
}
.margin-r--5 {
    margin-right: 5px;
}

.width-100 {
    width: 100%;
}

.padding-lf--0 {
    padding-left: 0;
}

.padding-all-10 {
    padding: 10px;
}

.padding-up-down--10 {
    padding: 0 10px;
}

.list-no-style {
    list-style: none;
}

.oblique {
    font-style: oblique;
}

.text--title {
    text-decoration: underline;
    font-weight: 700;
    margin-top: 15px;
}

button {
    font-family: Arial;
    background-color: #e6e6e6;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #cfd8dc;
}

button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

.btn--green {
    background-color: #009480;
    font-size: 13px;
    position: relative;
    max-height: 24px;
    line-height: 12px;
}

.btn--navy-blue {
    padding: 5px 10px;
    background-color: #0f132e;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    vertical-align: sub;
}

.btn--green:hover {
    background-color: #00ccb1;
}

.btn {
    line-height: 0.8 !important;
    min-width: 4.5em;
    transition: background-color .20s linear;
}

.btn--small {
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 5px 30px;
    text-decoration: none;
}

.btn--small:hover{
    text-decoration: none;
}

.hidden-m {
    display: none;
}

.showed-m {
    display: block;
}

.text-only {
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
}

.box-text {
    width: 80%;
    margin: auto;
}

.padding-l--0 {
    padding-left: 0 !important;
}

.padding-r--0 {
    padding-right: 0 !important;
}
/* --------- Pages ---------*/
.img-text-pages, .img-text-about {
    float: left;
    margin: 0 15px 15px 0;
}
.img-text-pages {
    width: 300px;
}

.img-text-about {
    width: 263px;
}

/* --------- End Pages ---------*/
/*----- mediaQueries -------*/

@media screen and (min-width: 543px) {
    .footer address-component:first-child i {
        margin-right: 5px;
    }
    .footer address-component:nth-child(2) i {
        float: right;
        margin-left: 5px;
        margin-right: 0;
    }
}
@media screen and (min-width: 769px) {
    .fs20--md {
        font-size: 20px;
    }
}

@media screen and (max-width: 414px) {
    .img-text-pages {
        width: 100% !important;
    }
    .fa-circle-o-notch {
        left: 43%;
    }
    .loading {
        left: 39%;
        top: 47%;
    }
    .img-text-about {
        display: block;
        margin: 0 auto !important;
        margin-bottom: 15px !important;
        float: none !important;
    }
}

@media screen and (min-width: 415px) and (max-width: 767px){
    .loading {
        top: 52%;
    }
}
@media screen and (max-width: 542px) {
    .footer div {
        width: 100%;
        float: none;
        text-align: center;
    }
    .footer > div:last-child {
        text-align: right;
    }
}

@media screen and (max-width: 767px) {
    html,
    body {
        margin: 0;
        height: 100%;
        overflow-x: hidden;
        padding: 0;
    }
    .bg-border-img {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAECAYAAABGM/VAAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MUE1NTU0QjM3QkQ1MTFFNDg4NzRDNkREQ0Y3NUQxMDUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MUE1NTU0QjQ3QkQ1MTFFNDg4NzRDNkREQ0Y3NUQxMDUiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoxQTU1NTRCMTdCRDUxMUU0ODg3NEM2RERDRjc1RDEwNSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoxQTU1NTRCMjdCRDUxMUU0ODg3NEM2RERDRjc1RDEwNSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pj0IoLQAAAASSURBVHjaYmBABQ0MlAsABBgAVVQCAWZTCc4AAAAASUVORK5CYII=) repeat-x left bottom;
    }
    .fs13--xs {
        font-size: 13px;
    }
    .fs24--xs {
        font-size: 24px;
    }
}

@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}