<div>
    <header class='header-nav'>
        <div class="container">
            <div class='pull-left logo-area'>
                <img src='../assets/images/logo_header.png' class='pull-left'>
                <ul class='pull-left'>
                    <li class='fs23'>SBD</li>
                </ul>
            </div>
            <div class="lang-section pull-right">
                <a type="button" (click)="changeSpanishApp()" [ngClass]="ENClass">EN</a>
                <a type="button" (click)="changeSpanishApp()" [ngClass]="ESClass">ES</a>
            </div>
            <div class="lang-section pull-right">
            </div>
            <div class="container-btn-menu pull-right" [ngClass]="btnMenuClass" (click)="convertBtnMenu(this)">
                <a href="javascript:void(0);" (click)="dropDownTopMenu()">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </a>
            </div>
            <nav class="menu nav nav-pills collapse navbar-collapse topnav" [ngClass]="collapseIn">
                <a href="javascript:void(0);" *ngFor="let nav of tr" routerLink="/{{nav.display}}" routerLinkActive="active">{{nav.value | uppercase}}</a>
            </nav>
        </div>
    </header>
    <div id="body-wrapper">
        <router-outlet></router-outlet>
    </div>
    <footer-app></footer-app>
</div>
