nav {
    padding: 10px 0 0;
}

nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
    display: inline-block;
    color: #fff;
    border-radius: 4px;
}

nav a:hover {
    color: #fff;
    text-shadow: 2px 2px #000;
    text-decoration: none;
    cursor: pointer;
}

nav a.active {
    color: #fff;
    font-weight: 700;
    text-decoration: underline;
    text-shadow: none;
}

.menu {
    margin: 0 auto;
}
.container-btn-menu {
    display: none;
}

.bar1 {
    margin-top: 3px;
}

.bar3 {
    margin-bottom: 0 !important;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: .4s;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: .4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.navbar-collapse-m.in {
    overflow-y: auto;
}

.in {
    -webkit-animation: dropDownIn 250ms linear;
    animation: dropDownIn 250ms linear;
}

.in.out {
    -webkit-animation: dropDownUp 250ms linear;
    animation: dropDownUp 250ms linear;
    height: 0 !important;
}

@-webkit-keyframes dropDownUp {
    from {
        height: 205px;
        display: block;
    }
    to {
        height: -205px;
        display: none;
    }
}

@keyframes dropDownUp {
    from {
        height: 205px;
        display: block;
    }
    to {
        height: -205px;
        display: none;
    }
}

@-webkit-keyframes dropDownIn {
    from {
        height: 0;
    }
    to {
        height: 205px;
    }
}

@keyframes dropDownIn {
    from {
        height: 0;
    }
    to {
        height: 205px;
    }
}

@media screen and (max-width: 767px) {
    .menu {
        margin: 65px -30px 0 -30px;
    }
    .menu a {
        border-radius: 0;
        display: inline-block !important;
        float: none;
        margin: 0;
        padding: 10px 20px;
        width: 100% !important;
        border-top: 1px solid #b5dbfd;
        width: 100%;
    }
}

.lang-section {
    margin-top: 15px;
}

.lang-section a {
    color: #fff;
    background-color: #077adf;
    font-size: 10px;
    border-radius: 50%;
    padding: 3px;
}

.lang-section a:hover {
    background-color: #2093f8;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

.header-nav {
    background-color: rgba(4, 74, 134, 1);
    padding: 5px 10px 0px 20px;
    margin-bottom: 30px;
    min-height: 65px;
}

.header-nav .logo-area {
    color: #fff;
}

.header-nav .logo-area ul {
    padding-left: 0;
}

.header-nav .logo-area ul li {
    list-style: none;
}
