.slider {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
    display: block;
    padding-left: 0;
}

.slider:hover {
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.slider li {
    list-style: none;
}

.slider li img {
    width: 100%;
}

.slide1,
.slide2 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slider1 {
    opacity:
}

.slide1 {
    background-size: cover;
    animation: fade 12s infinite;
    -webkit-animation: fade 12s infinite;
}

.slide2 {
    background-size: cover;
    animation: fade2 12s infinite;
    -webkit-animation: fade2 12s infinite;
}

@keyframes fade {
    0% {
        opacity: 1
    }
    42% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    95% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fade2 {
    0% {
        opacity: 0;
        z-index: -1;
    }
    45% {
        opacity: 0;
        z-index: -1;
    }
    50% {
        opacity: 1;
        z-index: 1;
    }
    92% {
        opacity: 1;
        z-index: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

.carousel-caption-m {
    color: #f2f2f2;
    font-size: 15px;
    padding: 15px 10px;
    position: absolute;
    left: 1%;
    bottom: 2%;
    min-width: 15%;
    max-width: 50%;
    background-color: rgba(53, 52, 52, .75);
    min-height: 50px;
    word-wrap: break-word;
}

.carousel-caption-m h1 {
    margin-bottom: 5px;
    margin-top: 0;
    color: #f2f2f2;
}

.carousel-caption-m p {
    line-height: 1;
}

@media screen and (min-width: 769px) {
    .slider,
    .slider li img {
        height: 500px;
    }
}

@media screen and (max-width: 950px) {
    .slider,
    .slider li img {
        height: 315px;
    }
}

@media screen and (max-width: 414px) {
    .slider,
    .slider li img {
        height: 125px;
    }
    .carousel-caption-m h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .slider,
    .slider li img {
        height: 230px;
    }
}