/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
  background-color: #b3b3b3;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}
.items li.selected:hover {
  background-color: #BBD8DC;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
.menu {
  width: 600px;
  margin: 0 auto;
}
.header-nav {
    background-color: rgba(4, 74, 134, 1);
    padding: 5px 20px 20px 20px;
    margin-bottom: 30px;
}
.header-nav .logo-area {
    color: #fff;
}
.header-nav .logo-area ul {
    padding-left: 0;
}
.header-nav .logo-area ul li {
    list-style: none;
}
/*mediaQueries*/
@media screen and (max-width: 767px){
    .menu {
        width: 100% !important;
    }
    .menu a {
        border-radius: 0;
        display: block !important;
        float: none;
        margin: 0;
        padding: 0;
        width: 100% !important;
    }
    html, body {margin: 0; height: 100%; overflow-x: hidden; padding:0;}
    .bg-border-img {
        background: url(../../theme/assets/img/bg-border.png) repeat-x left bottom;
    }
}
.fs20 {
    font-size: 20px;
}
.fs23 {
    font-size: 23px;
}
.angular-with-newlines {
    white-space: pre-wrap;
}
.panel--blue-dark {
    background-color: rgba(4, 74, 134, 1);
    color: #fff;
}
.width-100 {
    width: 100%;
}
.padding-all-10 {
    padding: 10px;
}
.accordion {
    cursor: pointer;
}
.container {
    min-height: 750px;
}
.footer {
    background-color: #f1f1f1;
    padding: 1px;
    min-height: 200px;
}
.footer p {
    margin: 0
    line-height: 1.5;
}
.oblique {
    font-style: oblique;
}
#map {
    height:320px;
    /*width: 100%;*/
}
#map2 {
    height:320px;
    /*width: 100%;*/
}
.sebm-google-map-container {
    height: 300px;
}
/* ---- Carousel --- */

.slider-img {
    background: #000;
    border: 5px solid #eaeaea;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    box-sizing: content-box;
    height: 320px;
    width: 740px;
    margin: 0 auto;
    overflow: visible;
    position: relative;
}
.slider-img ul {
    margin: auto;
    padding: 0;
    position: relative;
    max-width: 1000px;
}
.slider-imgWrapper {
    overflow: hidden;
    position: relative;
}
.containerSlider {
    margin: 40px auto !important;
}
.slider-img li {
    box-sizing: content-box;
    list-style: none;
}
.slider-img.carouselCss li {
    position: absolute;
}
.slide-carouselCss {
    width: 740px;
    height: 320px;
    left: 740px;
}
.slider-img .tipBox {
    background: rgba(0, 0, 0, 0.7);
    width: 300px;
    height: 60px;
    position: relative;
    bottom: 75px;
    left: -620px;
}
.slider-img .tipBox h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 60px;
    padding: 0 0 0 10px;
}
.slider-img .tipBox {
   transition: all 0.3s ease-in-out;
}
.slider-img #ulWrapper {
  }
.slider-img:hover .slide-carouselCss, .progress-bar {
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
}
.carousel-caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 15px 10px;
  position: absolute;
  left: 25px;
  bottom: 13%;
  min-width: 25%;
  max-width: 50%;
  background-color: rgba(53, 52, 52, .75);
  min-height: 50px;
  word-wrap: break-word;
}
.carousel-caption h1 {
    margin: 0;
}
.carousel-caption p {
    line-height: 1;
}
.paginationWrapper {
  text-align: center;
  position: absolute;
  bottom: 25px;
  width: 50%;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 2;
}
.slide {
    display:none;
}
@media only screen and (max-width: 768px) {
  .slider-img.carouselCss ul{ overflow: hidden; }
  .carousel-caption h1 { font-size: 1em; }
  .carousel-caption p { font-size: 12px; }
  .paginationWrapper {
      text-align: right;
      width: 85%;
  }
}
@media only screen and (max-width: 768px) {
  .slider-img {
      width: auto;
  }
}

/* -------------------- Carosel Animation ----------------------*/

.fadeCarouserl {
  -webkit-animation-name: fadeCarouserl;
  -webkit-animation-duration: 3s;
  animation-name: fadeCarouserl;
  animation-duration: 3s;
}
@-webkit-keyframes fadeCarouserl {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fadeCarouserl {
  from {opacity: .4} 
  to {opacity: 1}
}

.first {
    display: block;
}

.second {
    display: block;
}