<div class="container" *ngIf="agenciesInfo">
	<h2>{{agenciesInfo.title}}</h2>
	<div class="col-lg-4" *ngIf="agenciesInfo.frameLink" >
		<iframe type="text/html" height="190" width="345" allowfullscreen="1" frameborder="0" [src]='sanitizer.bypassSecurityTrustResourceUrl(agenciesInfo.frameLink)'></iframe>
	</div>
	<p>{{agenciesInfo.subTitle}}</p>
	<img [src]="agenciesInfo.image" class="img-text-pages" *ngIf="agenciesInfo.image">
	<p class="col-lg-8 fs20 padding-l--0 angular-with-newlines">{{agenciesInfo.text}}</p>
	<button (click)="goBack()" class="btn--small pull-right margin-l--20">Back</button>
	<a [href]="agenciesInfo.link" *ngIf="agenciesInfo.link" class="btn--small pull-right btn-primary" target="_blank">View WebSite</a>
</div>
